.time-container {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  margin: 3rem;
}
.time-container h2 {
  padding: 10px;
  border: 1px solid red;
  border-radius: 15px;
  box-shadow: 0 0 10px red;
  outline: none;
  letter-spacing: 3px;
  text-wrap: wrap;
}
.time-container h2:hover {
  border: 2px solid red;
  box-shadow: 0 0 20px red;
}
