.imagesection {
  object-fit: cover;
  width: 100%;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.imagesection {
  background: url("../images/mont.jpg"), no-repeat ;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  object-fit: cover;
}
.überschrift {
  width: 60%;
  margin: 10px auto;
  text-align: center;
  background-color: rgba(10, 6, 245, 0.63);
  color: #000;
  border-radius: 12px 0 12px 0;
  padding: 30px;
  box-shadow: 1px 1px 45px red;
 
}
.under {
  margin-bottom: 20px;
   
}
.end-header {
  padding: 50px;
  text-align: center;
  border: 1px solid blue;
  background-color: red;
  color: #000;
  box-shadow: 1px 1px 30px blue;

}
.text-section {
  padding: 50px;
  text-align: center;
  border: 1px solid blue;
  background-color: red;
  color: #000;
  letter-spacing: 4px;
  box-shadow: 1px 1px 15px blue;
  margin-bottom: 20px;
}

/*here begins Works*/

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
}
.cardInhalt {
  width: 15rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 40px blue !important;
  border: 1px solid red ;
  margin: 2rem;
  filter: blur(2.5px);

}
.cardInhalt:hover {
  border: 2px solid blue;
  box-shadow: 0px 0px 40px red !important;

  filter: blur(0);
}
.likebtn {
  text-align: center;
  margin: 1rem;
}
.like-button {
  font-size: 2rem;
  width: 5%;
  text-align: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
}
.liked {
  background-color: purple;
  border-radius: 10px;
  box-shadow: 0 0 40px red;
}

/*text secction*/
.texto {
  margin: 2rem 10%;
}
/*last secction*/
.lastsection {
  margin: 2rem;
  text-align: center;
}
a:hover {
 border-bottom: 1px solid red;
}
/*Contact styles*/
.contactimg {
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  height: 290px;
  width: 90%;
  margin: 2rem auto;
  border-radius: 15px;
  box-shadow: 0 0 40px red;
}
@media screen and (max-width: 992px) {
  

  .like-button {
    font-size: 3rem;
    width: 15%;
    text-align: center;

    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    border: none;

    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
  }
  .liked {
    background-color: purple;
    border-radius: 10px;
    box-shadow: 0 0 20px red;
  }
}

/*Animation section Titles JS- and footer*/

.appear-animation {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.appear-animation.visible {
  opacity: 1;
}
