
.conimg {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.contT {
 margin: 50px 0 40px 0;
  text-align: center;
}
.contact-img {
  border: 3px solid red;
  box-shadow: 0 0 30px red;
  border-radius: 15px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  );
  gap: 15px;

  overflow: hidden;
  padding: 10px;
}

.contact-img .conimg {
  border: 1px solid blue;
  
  border-radius: 5px;
  width: 100%;
}