.formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

form {
  background-color: rgb(32, 32, 32);
  border: 1px solid blue;
  box-shadow: 0 0 20px red;
  padding: 20px;
  border-radius: 8px;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
  color:red;
}
.errorpara {
  color: red !important;
  border-bottom: 1px solid red;
  font-style: italic;
  padding: 10px;
}

input[type="text"], textarea, select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid red;
}
input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid red;
}

/* input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 15px;
}
input[type="submit"]:hover {
  border: 1px solid red;
  color: #000;
} */

@media (min-width: 400px) {
  form {
    width: 100%;
    padding: 10px;
  }
}

.bn632-hover {
  width: 90px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn19 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/*  here beginns Thanks styles */

/* .thankscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta esto según tus necesidades }
*/


/* .thanksbody {
  text-align: center;
  } 
*/ 
