.formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-family: Arial, sans-serif;
}
form {
  background-color: rgb(32, 32, 32);
  border: 1px solid blue;
  box-shadow: 0 0 40px red;
  border-radius: 12px;
}
div {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 10px;
  color:red;
}
.errorpara {
  color: red !important;
  border-bottom: 1px solid red;
  font-style: italic;
  padding: 10px;
}
input[type="text"], textarea, select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid blue;
  box-shadow: 0 0 5px #fff;
}
input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid blue;
  box-shadow: 0 0 5px #fff;
}
@media (min-width: 300px) {
  form {
    width: 100%;
    padding: 10px;
  }
}
.bn632-hover {
  width: 90px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  transition: all .4s ease-in-out;
}
.bn632-hover:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}
.bn632-hover:focus {
  outline: none;
}
/* Btn color and style on hover */
.bn632-hover.bn19 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.popup {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  
}

.success {
  padding: 10px;
  color: #bbcac0;
  text-align: center;
  flex-wrap: wrap;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

.formcontainer form {
  /* Weißer Hintergrund für das Formular */
  padding: 20px;
  border-radius: 5px;
}

.formcontainer form.submitted {
  background-color: #d4edda; /* Grüner Hintergrund nach dem Absenden */
}
.ok-button { 
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto ; /* Zentriert den Button und fügt Abstand oben hinzu */ 
  padding: 10px 20px; 
  background-color: #28a745; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
} 
.ok-button:hover { 
  background-color: #218838
}
@media (max-width: 600px) {
  .popup {
    padding: 5px;
    font-size: 14px;
  }

  .ok-button {
    width: 80px;
    font-size: 14px;
  }
}
