.about-container {
  margin: 50px 10%; 
}
.particlesheader {
  font-size: 2em;
  text-wrap: wrap;
  margin-top: 90px;
  text-align: center;
}
.textcont {
  align-items: center;
  padding: 20px;
  margin: 20px 5%;
  border: 3px solid red;

  border-radius: 10px;
  box-shadow: 0 0 20px red;
  background-color: rgba(0, 0, 255, 0.377);
}
.textcont:nth-child(2) {
  align-items: center;
  padding: 20px;
  margin: 20px 5%;
  border: 3px solid red;

  border-radius: 10px;
  box-shadow: 0 0 20px red;
  background-color: rgba(0, 0, 255, 0.377);
}
.textcont h3 {
  padding: 10px;
  letter-spacing: 4px;
}
.textcont .lasttext{
  color: red;
}
.iconBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
 }
.iconBox a{
 display: flex;
 justify-content: center;
 flex-direction: row;
 flex-wrap: wrap;
 margin: 5px;
}
.imgcont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgcont img {
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid red;
  box-shadow: 0 0 30px red;
}
.particles-cont {
  position: absolute !important;
  top: 40px !important; left: 40px !important;
}


