.about-container {
  margin-bottom: 150px;
  
}
.particlesheader {
  font-size: 2em;
  text-wrap: wrap;
  margin-top: 150px;
  text-align: center;

}

.textcont {
  align-items: center;
  padding: 20px;
  margin: 20px 20%;
  border: 1px solid red;

  border-radius: 10px;
  box-shadow: 0 0 20px red;
  background-color: rgba(0, 0, 255, 0.377);

}
.textcont h3 {
  
  padding: 10px;
  border-radius: 0 0 20px 20px;
  text-align: center;

  letter-spacing: 4px;
  

}
