.card-container {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-repeat: no-repeat;
 
  background-position: center;
  object-fit: cover;
  margin: 20px;
  border-radius: 12px;
  cursor: pointer;
}
.card-container {
 background: url("../images/mont.jpg");
 object-fit: cover;
 background-position: center; 
 background-attachment: fixed;
background-repeat: no-repeat;
}

.card {
  background-color: rgba(10, 6, 245, 0.521);
  color: #fff;
  padding: 3rem 1rem;
  border-radius: 12px;
  border: 1px solid blue;
  box-shadow: 1px 1px 25px red;
}
.card:hover {
  box-shadow: 0 0 30px blue;
  border: 1px solid red;
}

.card p {
  padding: 1rem;  
  width: 100%;
}

.cont {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.text-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.card-diego-img {
width: 150px;
height: 150px;
border-radius: 12px 0 12px 0;
box-shadow: 1px 1px 15px #000;
animation: animation1  ease 2s infinite normal none;
}

.btn-card {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 8px; 
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 1px 30px red;
  margin-top: 20px; 
}
.btn-card:hover {
  border: 1px solid red;
}

@keyframes animation1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  
}