
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
   color-scheme: light dark;
   background: #0000009d;
   color: #fff;
}
h1, h2 {
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 4px;
}
@media (min-width: 600px) {
  html, body {
    margin: 0 5%;
  }
}
h1, h2 {
  font-family: "Protest Revolution", sans-serif;
  letter-spacing: 4px;
}